button {
  flex: 1 0 50px;
  max-height: 2em;
  font-size: 0.7em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border-radius: 0px 5px 5px 0px;
  background: silver;
  color: white;
  border: none;
  padding: 0.35em 0.75em;
  cursor: pointer;
}

button:hover {
  background: skyblue;
}

.search-form {   
  -ms-flex-align: center;   
  width: 300px;
  height: 40px;
  border: none;
  border-radius: 20px;
  padding: 10px;
  font-size: 16px;
}

@media only screen and (max-width: 600px) {
  .search-form {
    width: 100%;
    height: auto;
  }
}